@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?156urk');
  src:  url('../fonts/icomoon.eot?156urk#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?156urk') format('truetype'),
    url('../fonts/icomoon.woff?156urk') format('woff'),
    url('../fonts/icomoon.svg?156urk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon';
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lee-plus:before {
  content: "\f067";
}
.lee-minus:before {
  content: "\f068";
}
.lee-envelope-o:before {
  content: "\f003";
}
.lee-heart:before {
  content: "\f004";
}
.lee-star:before {
  content: "\f005";
}
.lee-download:before {
  content: "\f019";
}
.lee-image:before {
  content: "\f03e";
}
.lee-photo:before {
  content: "\f03e";
}
.lee-picture-o:before {
  content: "\f03e";
}
.lee-chevron-left:before {
  content: "\f053";
}
.lee-chevron-right:before {
  content: "\f054";
}
.lee-plus-circle:before {
  content: "\f055";
}
.lee-minus-circle:before {
  content: "\f056";
}
.lee-times-circle:before {
  content: "\f057";
}
.lee-times-circle-o:before {
  content: "\f05c";
}
.lee-check-circle-o:before {
  content: "\f05d";
}
.lee-comment:before {
  content: "\f075";
}
.lee-comments:before {
  content: "\f086";
}
.lee-phone:before {
  content: "\f095";
}
.lee-twitter:before {
  content: "\f099";
}
.lee-facebook:before {
  content: "\f09a";
}
.lee-facebook-f:before {
  content: "\f09a";
}
.lee-github:before {
  content: "\f09b";
}
.lee-globe:before {
  content: "\f0ac";
}
.lee-caret-down:before {
  content: "\f0d7";
}
.lee-caret-up:before {
  content: "\f0d8";
}
.lee-caret-left:before {
  content: "\f0d9";
}
.lee-caret-right:before {
  content: "\f0da";
}
.lee-sort:before {
  content: "\f0dc";
}
.lee-unsorted:before {
  content: "\f0dc";
}
.lee-sort-desc:before {
  content: "\f0dd";
}
.lee-sort-down:before {
  content: "\f0dd";
}
.lee-sort-asc:before {
  content: "\f0de";
}
.lee-sort-up:before {
  content: "\f0de";
}
.lee-envelope:before {
  content: "\f0e0";
}
.lee-plus-square:before {
  content: "\f0fe";
}
.lee-angle-left:before {
  content: "\f104";
}
.lee-angle-right:before {
  content: "\f105";
}
.lee-angle-up:before {
  content: "\f106";
}
.lee-angle-down:before {
  content: "\f107";
}
.lee-desktop:before {
  content: "\f108";
}
.lee-laptop:before {
  content: "\f109";
}
.lee-tablet:before {
  content: "\f10a";
}
.lee-mobile:before {
  content: "\f10b";
}
.lee-mobile-phone:before {
  content: "\f10b";
}
.lee-chevron-circle-left:before {
  content: "\f137";
}
.lee-chevron-circle-right:before {
  content: "\f138";
}
.lee-chevron-circle-up:before {
  content: "\f139";
}
.lee-chevron-circle-down:before {
  content: "\f13a";
}
.lee-html5:before {
  content: "\f13b";
}
.lee-css3:before {
  content: "\f13c";
}
.lee-minus-square:before {
  content: "\f146";
}
.lee-minus-square-o:before {
  content: "\f147";
}
.lee-caret-square-o-down:before {
  content: "\f150";
}
.lee-toggle-down:before {
  content: "\f150";
}
.lee-caret-square-o-up:before {
  content: "\f151";
}
.lee-toggle-up:before {
  content: "\f151";
}
.lee-file:before {
  content: "\f15b";
}
.lee-file-text:before {
  content: "\f15c";
}
.lee-youtube:before {
  content: "\f167";
}
.lee-instagram:before {
  content: "\f16d";
}
.lee-long-arrow-down:before {
  content: "\f175";
}
.lee-long-arrow-up:before {
  content: "\f176";
}
.lee-long-arrow-left:before {
  content: "\f177";
}
.lee-long-arrow-right:before {
  content: "\f178";
}
.lee-apple:before {
  content: "\f179";
}
.lee-windows:before {
  content: "\f17a";
}
.lee-android:before {
  content: "\f17b";
}
.lee-linux:before {
  content: "\f17c";
}
.lee-plus-square-o:before {
  content: "\f196";
}
.lee-envelope-square:before {
  content: "\f199";
}
.lee-wordpress:before {
  content: "\f19a";
}
.lee-graduation-cap:before {
  content: "\f19d";
}
.lee-mortar-board:before {
  content: "\f19d";
}
.lee-fax:before {
  content: "\f1ac";
}
.lee-spotify:before {
  content: "\f1bc";
}
.lee-database:before {
  content: "\f1c0";
}
.lee-file-pdf-o:before {
  content: "\f1c1";
}
.lee-file-word-o:before {
  content: "\f1c2";
}
.lee-file-code-o:before {
  content: "\f1c9";
}
.lee-share-alt:before {
  content: "\f1e0";
}
.lee-copyright:before {
  content: "\f1f9";
}
.lee-at:before {
  content: "\f1fa";
}
.lee-toggle-off:before {
  content: "\f204";
}
.lee-toggle-on:before {
  content: "\f205";
}
.lee-facebook-official:before {
  content: "\f230";
}
.lee-safari:before {
  content: "\f267";
}
.lee-chrome:before {
  content: "\f268";
}
.lee-firefox:before {
  content: "\f269";
}
.lee-map-pin:before {
  content: "\f276";
}
.lee-map-o:before {
  content: "\f278";
}
.lee-gitlab:before {
  content: "\f296";
}
.lee-envelope-open:before {
  content: "\f2b6";
}
.lee-address-book:before {
  content: "\f2b9";
}
.lee-times-rectangle:before {
  content: "\f2d3";
}
.lee-window-close:before {
  content: "\f2d3";
}
.lee-times-rectangle-o:before {
  content: "\f2d4";
}
.lee-window-close-o:before {
  content: "\f2d4";
}
.lee-home3:before {
  content: "\e902";
}
.lee-phone1:before {
  content: "\e942";
}
.lee-envelop:before {
  content: "\e945";
}
.lee-mobile1:before {
  content: "\e958";
}
.lee-bubbles:before {
  content: "\e96c";
}
.lee-bubbles2:before {
  content: "\e96d";
}
.lee-menu:before {
  content: "\e9bd";
}
.lee-download3:before {
  content: "\e9c7";
}
.lee-facebook2:before {
  content: "\ea91";
}
.lee-instagram1:before {
  content: "\ea92";
}
.lee-spotify1:before {
  content: "\ea94";
}
.lee-twitter1:before {
  content: "\ea96";
}
.lee-youtube1:before {
  content: "\ea9d";
}
.lee-github1:before {
  content: "\eab0";
}
.lee-android1:before {
  content: "\eac0";
}
.lee-linkedin:before {
  content: "\eac9";
}
.lee-chrome1:before {
  content: "\ead9";
}
.lee-firefox1:before {
  content: "\eada";
}
.lee-edge:before {
  content: "\eadc";
}
.lee-file-pdf:before {
  content: "\eadf";
}
.lee-html-five:before {
  content: "\eae4";
}
.lee-css31:before {
  content: "\eae6";
}
