// blank.scss

div.navWrap{
    background-color: rgba(0,0,0,0.7);
    position: relative;
    width: 100%;
    display: none;
    nav{
        display: flex;
        dl{
            width: calc(100% / 4 - 20px);
            color: #fff;
            dt{}
            dd{}
        }
    }
}

/* after header */
div.cntsub13 {
	.sect132 {
        width: 90%;
		max-width: 1080px;
		position: relative;
        overflow: hidden;
        
        display: flex;
        flex-direction: row-reverse;
        .i2{
            width: 540px;
            background-color: #f90;
            position: relative;
            height: 360px;
        }
		.artGroup {
            width: 900%;
			position: absolute;
            top: 0;
			transition: left 0.7s;
            display: flex;
            justify-content: space-around;
			.article{
				text-align: left;
				width: 25%;
				// float: left;
                // display: flex;
                // justify-content: start;
				.texts{
                    font-family: "Noto Sans KR";
					background-color: rgba(177, 166, 166, 0.8);
					padding: 80px 90px;
                    height: 360px;
                    width: 540px;
					text-align: left;
                    color: #fff;
                    h4{
                        color:#fff;
                    }
                    p{
                        font-family: "Noto Sans KR";
                        margin-top: 40px;
                        width: 250;
                    }
				}
			}
		}
		input {display: none;}
		#g5{&:checked~.artGroup {left: 0%;}}
		#g6{&:checked~.artGroup {left: -100%;}}
		#g7{&:checked~.artGroup {left: -200%;}}
		#g8{&:checked~.artGroup {left: -300%;}}
		#g9{&:checked~.artGroup {left: -400%;}}
		#g10{&:checked~.artGroup {left: -500%;}}
		#g11{&:checked~.artGroup {left: -600%;}}
		#g12{&:checked~.artGroup {left: -700%;}}
		#g13{&:checked~.artGroup {left: -800%;}}
		.btnGroup {
			position: absolute;
			left: 80px;
            bottom: 25px;
			li {
				width: 20px;
				height: 20px;
				border-radius: 10px;
				background-color: #eee;
				float: left;
				margin: 0 10px;
				label {
					width: 100%;
					height: 100%;
					display: block;
					cursor: pointer;
				}
			}
		}
	}
}







/* before footer */

