/* 중급 common.css */

/* 일관성있는 문서형태를 위한 내용을  common에 만듭니다. */
/* 
글꼴관련 설정,
공통적인 너비와 여백
 */

/* Whenever there is internet connection  */
/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700;900&family=Noto+Serif+KR:wght@300;500;600;700&display=swap');
@import url(all.css);
/* @import url(xeicon.css); */
@import url(iconmoon.css);

/* Whenever there is no connection (.otf, .ttf, .eot) */
/* ----------------Noto Sans KR------------------ */
@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 100;
    src: url(../fonts/NotoSansKR-Thin.otf)
        /*     src: url(../fonts/NotoSansKR-Thin.ttf) */
        /*     src: url(../fonts/NotoSansKR-Thin.eot) */
}

@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 300;
    src: url(../fonts/NotoSansKR-Light.otf)
}

@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 500;
    src: url(../fonts/NotoSansKR-Regular.otf)
}

@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 700;
    src: url(../fonts/NotoSansKR-bold.otf)
}

@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 900;
    src: url(../fonts/NotoSansKR-Black.otf)
}

/* ----------------Noto Serif KR------------------ */
@font-face {
    font-family: 'Noto Serif KR';
    font-weight: 100;
    src: url(../fonts/NotoSerifKR-ExtraLight.otf)
}

@font-face {
    font-family: 'Noto Serif KR';
    font-weight: 300;
    src: url(../fonts/NotoSerifKR-Light.otf)
}

@font-face {
    font-family: 'Noto Serif KR';
    font-weight: 500;
    src: url(../fonts/NotoSerifKR-Regular.otf)
}

@font-face {
    font-family: 'Noto Serif KR';
    font-weight: 700;
    src: url(../fonts/NotoSerifKR-Bold.otf)
}

/* ------------------------------------------ */


/*210705추가사항*/
*.clear::after{
    display: block; 
    content:'';
    clear:both;
}

/* 210709 추가사항 */
div.content .section::after{
    display: block; 
    content:'';
    clear:both;
}

div.hdrWrap .header::after{
    display: block; 
    content:'';
    clear:both;
}



body {
    font-family: 'Noto Serif KR'sans-serif;
    font-weight: 100;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,dt {font-family: 'Noto Sans KR', sans-serif;}
h1,h2,h3,h4,h5,p,li,dt,dd {overflow: hidden;}


div.menuWrap {}

div.menuWrap menu {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 10px;
}

div.menuWrap menu li {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    line-height: 40px;
}




div.hdrWrap header .texts {
    display: flex;
    justify-content: flex-end;
    width: 960px;
    height: 40px;
}

div.hdrWrap header h1 {
    font-size: 18px;
    line-height: 40px;
}

div.hdrWrap header h2 {
    font-size: 16px;
    line-height: 40px;
    padding-left: 40px;
}

div.hdrWrap header nav {
    font-size: 30px;
}

div.hdrWrap header nav img {
    padding-left: 20px;
    /* line-height: 40px; */
}

div.hdrWrap header li {
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
}


div.hdrWrap {
    background-color: #65bae0;
    padding: 25px 0;
}

div.hdrWrap header {
    width: 90%; max-width: 1080px;
    margin: 0 auto;
    display: flex;
    padding: 0 10px;
}

div.hdrWrap header .image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

div.hdrWrap header .image a {
    background-image: url(../img/logo.png);
    width: 100px;
    height: 40px;
    background-size: cover;
    background-position: center;
}

div.hdrWrap header .texts h2 {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}

div.hdrWrap header .texts nav img {
    height: 30px;
}






div.content {
    padding: 160px 0;
}

div.content header {
    text-align: center;
    width: 90%;
    max-width: 1080px;
    padding: 0 10px;
    margin: 0 auto;
}

div.content header h3 {
    font-size: 36px;
    font-weight: 700;
    line-height: 80px;
}

div.content header p {}

div.content section {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 80px;
}

div.content section h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    color: #000;
}

div.content section h5 {
    font-size: 12px;
    font-weight: 700;
    line-height: 40px;
    color: #333;
}

div.content section p {}

div.content section nav {
    font-size: 32px;
    line-height: 40px;
    color: #000;
}

div.content article header {
    font-family: 'Noto Sans KR', sans-serif;
}


div.ftrWrap {
    padding: 80px 0;
    background-color: #9cbdd1;
}

div.ftrWrap footer {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 10px;
    position: relative;
}

div.ftrWrap footer .image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    /**/
}

div.ftrWrap footer .image a {
    background-image: url(../img/logo.png);
    width: 100px;
    height: 40px;
    background-size: cover;
    background-position: center;
}

div.ftrWrap footer address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 980px;
    color: #fff;
    line-height: 20px;
    text-align: right;
}

div.ftrWrap footer .copyRi {
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    /* */
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
}

div.ftrWrap footer li,
div.ftrWrap footer p {
    font-family: 'Noto Sans KR', sans-serif;
}



div.main {}

div.main header {
    font-family: 'Noto Sans KR'sans-serif;
}

div.main header p {
    margin-top: 20px;
    line-height: 40px;
}

/*Floating Back-To-Top Button*/
#myBtn {
    position: fixed;
    top: 95vh;
    // bottom: 10px;
    float: right;
    right: 10%;
    left: 90%;
    max-width: 30px;
    width: 100%;
    font-size: 20px;
    background-color: #e5e5e5;
    padding: .5px;
    border-radius: 4px;

}
/*On Hover Color Change*/
#myBtn:hover {
    background-color: #cae5ec;
}
