div.cnts21 {
  background-color: #f3f6f8;
  color: 8c8c8c;
}

div.cnts21 section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

div.cnts21 section article {
  width: calc(25% - 20px);
}

div.cnts21 section article .texts {
  font-family: "Noto Sans KR";
  padding: 20px 60px 0 10px;
  background-color: #fff;
}

div.cnts21 section article .texts h4 {
  font-size: 24px;
  font-weight: 700;
}

div.cnts21 section article .texts p {
  font-size: 12px;
  height: 80px;
}

div.cnts21 section article .texts h5 {
  font-size: 12px;
  font-weight: 700;
}

div.cnts21 section article .image {
  height: 280px;
  background-position: center;
  background-size: cover;
}

div.cnts21 section article .i1 {
  background-image: url(../img/sub2/cnts21-1.png);
}

div.cnts21 section article .i2 {
  background-image: url(../img/sub2/cnts21-2.png);
}

div.cnts21 section article .i3 {
  background-image: url(../img/sub2/cnts21-3.png);
}

div.cnts21 section article .i4 {
  background-image: url(../img/sub2/cnts21-4.png);
}

div.cnts22 {
  background-color: #f3f6f8;
  color: 8c8c8c;
}

div.cnts22 header {
  text-align: left;
}

div.cnts22 header p {
  width: 520px;
}

div.cnts22 section article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

div.cnts22 section article .image {
  width: calc(33.33% - 20px);
  height: 280px;
  background-color: #999;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

div.cnts22 section article .texts {
  width: 340px;
}

div.cnts22 section article .i1 {
  background-image: url(../img/sub2/cnts22-1.png);
}

div.cnts22 section article .i2 {
  background-image: url(../img/sub2/cnts22-2.png);
}

div.cnts22 section article .i3 {
  background-image: url(../img/sub2/cnts22-3.png);
}

div.cnts22 section article:nth-of-type(2) {
  margin-top: 20px;
}

div.cnts23 {
  background-color: #f3f6f8;
  color: 8c8c8c;
}

div.cnts23 section {
  width: calc(100% - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

div.cnts23 section .art1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div.cnts23 section .art1 .image {
  background-color: #cae5ec;
}

div.cnts23 section .art2 {
  margin: 80px 0;
}

div.cnts23 section article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 80px;
}

div.cnts23 section article .texts {
  text-align: center;
  font-weight: 700;
  /*  */
  position: absolute;
  /*  */
  padding: 20px;
}

div.cnts23 section article .texts h5 {
  color: #fff;
  font-size: 24px;
  margin-top: 20px;
}

div.cnts23 section article .texts p {
  font-size: 14px;
  color: #fff;
  height: 80px;
  width: 110px;
  margin-top: 20px;
}

div.cnts23 section article .texts nav i {
  color: #fff;
  font-size: 32px;
  text-align: center;
}

div.cnts23 section article .i1 {
  width: 250px;
  height: 250px;
  border-radius: 0 50% 50% 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: 1px 1px 3px #333;
          box-shadow: 1px 1px 3px #333;
}

div.cnts23 section article .i2 {
  width: 250px;
  height: 250px;
  border-radius: 0 50% 50% 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: 1px 1px 3px #333;
          box-shadow: 1px 1px 3px #333;
}

div.cnts23 section article .i3 {
  width: 250px;
  height: 250px;
  border-radius: 0 50% 50% 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: 1px 1px 3px #333;
          box-shadow: 1px 1px 3px #333;
}

div.cnts23 section article .i4 {
  width: 250px;
  height: 250px;
  border-radius: 0 50% 50% 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: 1px 1px 3px #333;
          box-shadow: 1px 1px 3px #333;
}

div.cnts23 section article .i5 {
  width: 520px;
  height: 390px;
  background-image: url(../img/sub2/cnts23-1.png);
  background-position: center;
  background-size: cover;
}

div.cnts24 {
  background-color: #f3f6f8;
  color: 8c8c8c;
}

div.cnts24 section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

div.cnts24 section article {
  width: calc(50% - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  cursor: pointer;
}

div.cnts24 section article:nth-of-type(3), div.cnts24 section article:nth-of-type(4) {
  margin-top: 40px;
}

div.cnts24 section article .image {
  width: calc(100% - 20px);
  height: 360px;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

div.cnts24 section article .texts {
  text-align: center;
  height: 360px;
  padding: 80px 90px;
  position: absolute;
  top: 0;
  overflow: hidden;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

div.cnts24 section article .texts h4 {
  line-height: 80px;
  color: #fff;
  font-size: 24px;
  position: relative;
  top: 390px;
}

div.cnts24 section article .texts p {
  color: #fff;
  font-size: 14px;
  width: 320px;
  height: 80px;
  /*  */
  position: relative;
  top: 400px;
  /*  */
  margin-top: 40px;
}

div.cnts24 section article .texts:hover {
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
}

div.cnts24 section article .texts:hover h4 {
  top: 0;
}

div.cnts24 section article .texts:hover p {
  top: 0;
}

div.cnts24 section article .i1 {
  background-image: url(../img/sub2/cnts24-1.jpg);
}

div.cnts24 section article .i2 {
  background-image: url(../img/sub2/cnts24-2.jpg);
}

div.cnts24 section article .i3 {
  background-image: url(../img/sub2/cnts24-3.jpg);
}

div.cnts24 section article video {
  width: 520px;
  height: 360px;
}
/*# sourceMappingURL=sub2.css.map */