div.main {
  background-image: url(../img/bgmain1.png);
  width: 100vw;
  height: 960px;
  position: relative;
}

div.main header {
  width: 90%;
  max-width: 1080px;
  width: 520px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 560px;
  left: 300px;
}

div.main header .logo {
  width: 100px;
  height: 40px;
  background-image: url(../img/logo.png);
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

div.main header p {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

div.cnti6 {
  background-color: #f3f6f8;
}

div.cnti6 .sctn1 {
  width: 100%;
  max-width: 1080px;
}

div.cnti6 .sctn1 article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.cnti6 .sctn1 article .i1 {
  background-image: url("../img/index/pro_pic01.png");
  background-position: center;
  background-size: cover;
  width: 430px;
  height: 520px;
  margin-left: 10px;
  -webkit-box-shadow: 10px 5px 5px #eee;
          box-shadow: 10px 5px 5px #eee;
}

div.cnti6 .sctn1 article header {
  font-family: 'Noto Sans KR' sans-serif;
  text-align: right;
  width: 340px;
  margin: 80px 100px 0 0px;
  color: #8c8c8c;
}

div.cnti6 .sctn1 article header h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 80px;
}

div.cnti6 .sctn1 article header p {
  font-size: 14px;
  line-height: 20px;
  height: 80px;
}

div.cnti6 .sctn2 {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

div.cnti6 .sctn2 article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  top: -160px;
}

div.cnti6 .sctn2 article .image {
  width: calc(25% - 20px);
  height: 280px;
}

div.cnti6 .sctn2 article .i3 {
  background-image: url("../img/index/pro_pic02.png");
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 10px 5px 5px #eee;
          box-shadow: 10px 5px 5px #eee;
}

div.cnti6 .sctn2 article .i4 {
  background-image: url("../img/index/pro_pic03.png");
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 10px 5px 5px #eee;
          box-shadow: 10px 5px 5px #eee;
}

div.cnti6 .sctn2 article .i5 {
  background-image: url("../img/index/pro_pic04.png");
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 10px 5px 5px #eee;
          box-shadow: 10px 5px 5px #eee;
}

div.cnti6 .sctn2 .btns {
  width: 380px;
  margin: 0 auto;
}

div.cnti6 .sctn2 .btns button {
  width: 280px;
  height: 50px;
  background-color: #4f534e;
  color: #fff;
  border-radius: 20px;
}

div.cnti3 {
  background-color: #f3f6f8;
  color: #8c8c8c;
}

div.cnti3 article {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

div.cnti3 .art3Top {
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

div.cnti3 .art3Top .image {
  width: calc(100% / 3 - 20px);
  background-color: #b9f0fabe;
}

div.cnti3 .art3Top .i1 {
  visibility: hidden;
}

div.cnti3 .art3Top .i2 {
  background-image: url("../img/index/pro03_1.jpg");
  background-position: center;
  background-size: cover;
}

div.cnti3 .art3Top .i3 {
  background-image: url("../img/index/productline02.png");
  background-position: center;
  background-size: cover;
}

div.cnti3 .art3Mid {
  margin-top: 20px;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

div.cnti3 .art3Mid .image {
  width: calc(100% / 3 - 20px);
  background-color: #b9f0fabe;
}

div.cnti3 .art3Mid .i4 {
  position: relative;
  top: -300px;
  height: 580px;
  background-image: url("../img/index/productline01.png");
  background-position: center;
  background-size: cover;
}

div.cnti3 .art3Mid header {
  font-family: 'Noto Sans KR', sans-serif;
  text-align: left;
  width: 340px;
  padding: 20px 10px;
  margin: 0;
  border: 2px solid #000;
}

div.cnti3 .art3Mid header h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}

div.cnti3 .art3Mid header h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
}

div.cnti3 .art3Mid header p {
  font-size: 14px;
  line-height: 20px;
  height: 80px;
}

div.cnti3 .art3Mid header .btn {
  text-align: right;
  margin-top: 20px;
}

div.cnti3 .art3Mid header .btn button {
  width: 160px;
  height: 60px;
  font-size: 30px;
  border-radius: 20px;
}

div.cnti3 .art3Mid .i6 {
  background-image: url("../img/index/pro03_2.jpg");
  background-position: center;
  background-size: cover;
}

div.cnti3 .art3Last {
  margin-top: 20px;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

div.cnti3 .art3Last .image {
  width: calc(100% / 3 - 20px);
  background-color: #b9f0fabe;
}

div.cnti3 .art3Last .i7 {
  background-image: url("../img/index/pro03_3.jpg");
  background-position: center;
  background-size: cover;
}

div.cnti3 .art3Last .i8 {
  background-image: url("../img/index/productline03.gif");
  background-position: center;
  background-size: cover;
  width: 700px;
}

div.cnti1 {
  background-color: #f3f6f8;
}

div.cnti1 header {
  font-family: 'Noto Sans KR', sans-serif;
  color: #8c8c8c;
}

div.cnti1 section {
  padding: 0 10px;
}

div.cnti1 section article {
  margin: 0 auto;
}

div.cnti1 section .artImg {
  width: 100%;
  max-width: 1080px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.cnti1 section .artImg .image {
  width: calc(100% / 4 - 20px);
  height: 400px;
  margin: 0 auto;
  background-color: #b9f0fabe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 40px;
}

div.cnti1 section .artImg .i1 {
  width: 250px;
  height: 250px;
  border-radius: 0 50% 50% 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: 1px 1px 7px #1a1a1a;
          box-shadow: 1px 1px 7px #1a1a1a;
}

div.cnti1 section .artImg .i2 {
  width: 250px;
  height: 250px;
  border-radius: 0 50% 50% 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: 1px 1px 7px #1a1a1a;
          box-shadow: 1px 1px 7px #1a1a1a;
}

div.cnti1 section .artImg .i3 {
  width: 250px;
  height: 250px;
  border-radius: 0 50% 50% 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: 1px 1px 7px #1a1a1a;
          box-shadow: 1px 1px 7px #1a1a1a;
}

div.cnti1 section .artImg .i4 {
  width: 250px;
  height: 250px;
  border-radius: 0 50% 50% 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: 1px 1px 7px #1a1a1a;
          box-shadow: 1px 1px 7px #1a1a1a;
}

div.cnti1 section .artTxt {
  text-align: center;
  width: 100%;
  max-width: 1080px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.cnti1 section .artTxt h4 {
  font-size: 14px;
  font-weight: 700;
  line-height: 50px;
  width: calc(100% / 4 - 20px);
  margin: 0 auto;
  position: relative;
  top: -160px;
  color: #8c8c8c;
}

div.cnti1 section .btns {
  width: 380px;
  margin: 0 auto;
  margin-top: 80px;
  text-align: center;
}

div.cnti1 section .btns button {
  width: 280px;
  height: 50px;
  background-color: #4f534e;
  color: #fff;
  border-radius: 20px;
}

div.cnti2 {
  background-color: #f3f6f8;
}

div.cnti2 header {
  color: #8c8c8c;
}

div.cnti2 header p {
  display: none;
}

div.cnti2 section {
  width: 100%;
  max-width: 1080px;
}

div.cnti2 section article {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  direction: rtl;
  position: relative;
}

div.cnti2 section article .image {
  height: 400px;
  background-color: #b9f0fabe;
  background-position: center;
  background-size: cover;
}

div.cnti2 section article .i1 {
  background-image: url("../img/index/support01.png");
  border-top-left-radius: 20px;
}

div.cnti2 section article .i2 {
  background-image: url("../img/index/support02.png");
  border-bottom-right-radius: 20px;
}

div.cnti2 section article .texts {
  width: 430px;
  height: 400px;
  background-color: rgba(192, 192, 192, 0.5);
  padding: 80px 90px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
  line-height: 80px;
}

div.cnti2 section article .texts h4 {
  line-height: 80px;
}

div.cnti2 section article .texts p {
  height: 40px;
  display: none;
}

div.cnti2 section article .texts nav {
  font-size: 60px;
}

div.cnti2 section article .texts .btn button {
  width: 172px;
  height: 46px;
  font-size: 14px;
  border-radius: 12px;
}

div.cnti2 section article .txt1 {
  position: absolute;
  top: 0;
}

div.cnti2 section article .txt2 {
  position: absolute;
  bottom: 0;
}
/*# sourceMappingURL=index.css.map */