//sub3.scss


div.cnts31{
    background-color: #f3f6f8;
    section{
        article{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            .image{
                width: calc(33.33% - 20px);
                height: 400px;
                background-position: inherit;
                background-size: cover;
                border-radius: 20px;
                border: 1px solid rgb(185, 185, 185);
                &:nth-of-type(4),
                &:nth-of-type(5),&:nth-of-type(6){
                    margin-top: 40px;
                }
                .popup-button {
                    height: 400px;
                    display: block;
                    cursor: pointer;
                    &:hover {
                        background: rgba(170, 168, 168, 0.144);
                        border-radius: 20px;
                    }
                }
                .popup{
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(#000,.7);
                    z-index: 10;
                    opacity: 0;
                    visibility: hidden;
                    transition: 250ms all;
                    .popup-inner {
                        height: inherit;
                        padding: 20px;
                        // box-sizing: border-box;
                        background: transparent;
                        position: absolute;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        transition: 250ms all;
                        .popup-content {
                            width: 100%; height: 100%;
                        }
                    }
                    .transparent-label {
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                        cursor: pointer;
                    }
                }
                >input {
                    display: none;
                    &:checked + .popup {
                        opacity: 1;
                        visibility: visible;
                        .popup-inner {
                            top: 50%;
                        }
                    }
                }
            }
            .i1{
                background-image: url(../img/sub3/sub31.jpg);
                .popup {
                    .popup-inner {
                        .popup-content {
                            .i1{
                                height: inherit;
                                content: url(../img/sub3/sub31.jpg);
                            }
                        }
                    }
                }
            }        
            
            .i2{
                background-image: url(../img/sub3/sub32.jpg);
                .popup {
                    .popup-inner {
                        .popup-content {
                            .i2{
                                height: inherit;
                                content: url(../img/sub3/sub32.jpg);
                            }
                        }
                    }
                }
            }
            .i3{
                background-image: url(../img/sub3/sub33.jpg);
                .popup {
                    .popup-inner {
                        .popup-content {
                            .i3{
                                height: inherit;
                                content: url(../img/sub3/sub33.jpg);
                            }
                        }
                    }
                }
            }
            .i4{
                background-image: url(../img/sub3/sub34.jpg);
                .popup {
                    .popup-inner {
                        .popup-content {
                            .i4{
                                height: inherit;
                                content: url(../img/sub3/sub34.jpg);
                            }
                        }
                    }
                }
            }
            .i5{
                background-image: url(../img/sub3/sub35.jpg);
                .popup {
                    .popup-inner {
                        .popup-content {
                            .i5{
                                height: inherit;
                                content: url(../img/sub3/sub35.jpg);
                            }
                        }
                    }
                }
            }
            .i6{
                background-image: url(../img/sub3/sub36.jpg);
                .popup {
                    .popup-inner {
                        .popup-content {
                            .i6{
                                height: inherit;
                                content: url(../img/sub3/sub36.jpg);
                            }
                        }
                    }
                }
            }
        }
        .btns{
            margin-top: 40px;
            text-align: center;
            button{
                font-family: "Noto Sans KR",sans-serif;
                font-size: 24px;
                font-weight: 700;
                color: #fff;
                /*  */
                background-color: rgb(207, 207, 207);
                /*  */
                border-radius: 20px;
                cursor: pointer;
                border:0;
                width: 340px; height: 80px;
            }
        }
    }
}


div.cnts32{
    background-color: #f3f6f8;
    section{
        article{
            input{display:none;}
            dl{
                
                dt{
                    font-family: "Noto Sans KR", sans-serif;
                    font-weight: 700;
                    font-size: 20px;
                    /*  */
                    background-color: #cddfed;
                    border-radius: 5px;
                    padding-left: 20px;
                    
                    .fa-caret-down{display:none;}
                    i{
                        width: 20px; height: 20px;
                        text-align: center;
                        font-size: 24px;

                    }
                    label{
                        height: 80px;
                        line-height: 80px;
                        i{
                            width: 20px; height: 20px;
                        }
                        cursor: pointer;
                    }
                    &:nth-of-type(2),&:nth-of-type(3),
                    &:nth-of-type(4),&:nth-of-type(5){
                        margin-top: 40px;
                    }
                }
                dd{
                    font-family: "Noto Sans KR", sans-serif;
                    font-size: 14px;
                    /*  */
                    background-color: rgba(90, 90, 90, 0.082);
                    border-radius: 5px;
                    /*  */
                    height: 0;
                    transition:  height 0.5s;
                }
                
            }
            #a1:checked~dl dd:nth-of-type(1){
                height: inherit;
                padding: 30px;
                padding-right: 160px;
            }
            #a1:checked~dl dt:nth-of-type(1) .fa-caret-down{display: inline;}
            #a1:checked~dl dt:nth-of-type(1) .fa-caret-up{display: none;}

            #a2:checked~dl dd:nth-of-type(2){
                height: inherit;
                padding: 30px;
                padding-right: 160px;
                
            }
            #a2:checked~dl dt:nth-of-type(2) .fa-caret-down{display: inline}
            #a2:checked~dl dt:nth-of-type(2) .fa-caret-up{display: none;}

            #a3:checked~dl dd:nth-of-type(3){
                height: inherit;
                padding: 30px;
                padding-right: 160px;
            }
            #a3:checked~dl dt:nth-of-type(3) .fa-caret-down{display: inline}
            #a3:checked~dl dt:nth-of-type(3) .fa-caret-up{display: none;}

            #a4:checked~dl dd:nth-of-type(4){
                height: inherit;
                padding: 30px;
                padding-right: 160px;
            }
            #a4:checked~dl dt:nth-of-type(4) .fa-caret-down{display: inline}
            #a4:checked~dl dt:nth-of-type(4) .fa-caret-up{display: none;}

            #a5:checked~dl dd:nth-of-type(5){
                height: inherit;
                padding: 30px;
                padding-right: 160px;
            }
            #a5:checked~dl dt:nth-of-type(5) .fa-caret-down{display: inline}
            #a5:checked~dl dt:nth-of-type(5) .fa-caret-up{display: none;}
        }
    }
}